{% extends "bs.html" %}
{% block bscontent %}
{% if current_user.is_authenticated %}
    <!--suppress HtmlUnknownTarget -->
    <div class="container">
        {% if characters %}
            <p></p>
            <table class="table table-hover table-striped">
                <caption>Your list of EVE characters</caption>
                <tbody>
                {% for c in characters %}
                    <tr>
                        <td>
                            <a href="{{ url_for('bs.character', character_id=c.id) }}">{{ c.name }}</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary"
                                    onclick="location.href='{{ url_for('bs.maillabel', character_id=c.id, label=1) }}'">Inbox
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    onclick="location.href='{{ url_for('bs.maillist', character_id=c.id) }}'">Mail list
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    onclick="location.href='{{ url_for('bs.skillqueue', character_id=c.id) }}'">Skill
                                queue
                            </button>
                            <button type="button" class="btn btn-secondary showModal" data-toggle="modal"
                                    data-target="#bsModal" data-charname="{{ c.character_name }}"
                                    data-character_id="{{ c.id }}">&times;
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal fade" id="bsModal" tabindex="-1" role="dialog" aria-labelledby="bsModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bsModalLabel">Remove character</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" id="yesPlease">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-md-center">
                <p>You have not added any EVE characters yet. Use this button:</p>
            </div>
        {% endif %}
        <div class="row justify-content-md-center">
            <p><a href="{{ auth_url }}"><img alt="LOG IN with EVE Online"
                                             src="static/EVE/eve-sso-login-black-large.png"/></a></p>
        </div>
        <div class="row justify-content-md-center text-muted small">
            <p>Version {{ config.VERSION }} &middot; Click
                <a href="{{ url_for('bs.selfdestruct') }}">here</a>
                to delete your account.</p>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $(".showModal").on("click", function () {
                var character_id = $(this).data("character_id");
                var msg = "Do you want to remove character " + character_id + " from your dashboard?";
                msg += " Associated authentication data will be removed from the database.";
                $("#yesPlease").data("character_id", character_id);
                $(".modal-body").html(msg);
            })
        });
        $(function () {
            $("#yesPlease").on("click", function () {
                var href = window.location.href + "/rm/" + $(this).data("character_id");
                $("#bsModal").modal("hide");
                window.location.href=href
            });
        });
    </script>
{% endblock %}
