{% extends "bootstrap.html" %} {% block title %}Home{% endblock %} {% block body %}
<div class="container-fluid m-3">
    {% if current_user.is_authenticated %}
    <div class="row justify-content-md-center">
        <p>You are logged in as {{ current_user.email }}.</p>
    </div>
    {% else %}
    <div class="row justify-content-md-center">
        <p>You need to be logged in to use this website.</p>
    </div>
    <div class="row justify-content-md-center">
        <button type="button" class="btn btn-lg btn-success" onclick="location.href='{{ url_for('bs.login') }}'">Login</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-lg btn-info" onclick="location.href='{{ url_for('bs.signup') }}'">Sign up</button>
    </div>
    {% endif %}
</div>
{% endblock %}
