{% extends "bs.html" %}
{% block bstitle %}Home{% endblock %}
{% block bscontent %}
    <div class="container-fluid m-3">
        {% if current_user.is_authenticated %}
            <div class="row justify-content-md-center">
                <p>You are logged in as {{ current_user.email }}.</p>
            </div>
        {% else %}
            <div class="row justify-content-md-center">
                <p>Inspect <a href="https://www.eveonline.com">EVE Online</a> mail and skill queues in a web browser.
                </p>
            </div>
            <div class="row justify-content-md-center m-5">
                <p>Note that is is a developer test installation of work in progress, programmed by
                    <a href="https://github.com/rseichter/bootini-star">an EVE Online enthusiast</a>. It is neither
                    'official' or endorsed by CCP. Yet. In other words, here be dragons. Enter at your own risk.</p>
            </div>
            <div class="row justify-content-md-center">
                <button type="button" class="btn btn-lg btn-success"
                        onclick="location.href='{{ url_for('bs.login') }}'">Login
                </button> &nbsp; &nbsp;
                <button type="button" class="btn btn-lg btn-info" onclick="location.href='{{ url_for('bs.signup') }}'">
                    Sign up
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
