{% extends "bs.html" %}
{% if character_id %}
    {% block bstitle %}Mail of {{ eveCache.eve_character(character_id).name }}{% endblock %}
{% endif %}
{% block bscontent %}
    {% if character_id and maillist %}
        <div class="container-fluid mx-1">
            {% for label in labels %}
                <a href="{{ url_for('bs.maillabel', character_id=character_id, label=label.label_id) }}">
                    {{ label.name }}
                    {% if label.unread_count and label.unread_count > 0 %}
                        ({{ label.unread_count }})
                    {% endif %}
                </a> &middot;
            {% endfor %}
            {% for sub in subscriptions %}
                {{ sub.name }} &middot;
            {% endfor %}
            <a href="{{ url_for('bs.maillist', character_id=character_id) }}">All</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for mail in maillist %}
                    <tr>
                        <td>
                            <a href="{{ url_for('bs.character', character_id=mail._from) }}">
                                {{ eveCache.eve_character(mail._from).name }}
                            </a>
                        <td>
                            <a href="{{ url_for('bs.mail', character_id=character_id, mail_id=mail.mail_id) }}">
                                {% if mail.is_read %}
                                    {{ mail.subject }}
                                {% else %}
                                    <em>{{ mail.subject }}</em>
                                {% endif %}
                            </a>
                        </td>
                        <td>{{ mail.timestamp | eve_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row justify-content-md-center">
            <p>No mail matches the search criteria.</p>
        </div>
    {% endif %}
{% endblock %}
