{% extends "bootstrap.html" %}
{% block body %}
{% if form %}
    <div class="container-fluid m-3">
        <div class="row justify-content-md-center">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <dl>
                    <dt>{{ form.email.label }}</dt>
                    <dd>{{ form.email }}</dd>
                    <dt>{{ form.password.label }}</dt>
                    <dd>{{ form.password }}</dd>
                    <dt>{{ form.confirm.label }}</dt>
                    <dd>{{ form.confirm }}</dd>
                    <dt>{{ form.submit }}</dt>
                </dl>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
